[Unit]
Description=Skydive Agent
Wants=network-online.target
After=network-online.target

[Service]
User=root
Restart=on-failure

#Change this line if you download ther

ExecStart=/usr/share/ablestack/ablestack-skydive/skydive/ablestack-skydive-1.00 agent \
--conf /usr/share/ablestack/ablestack-skydive/skydive/skydive.yml

[Install]
WantedBy=multi-user.target