#version=RHEL8
#ignoredisk --interactive
# Partition clearing information
clearpart --all --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=kr --xlayouts='kr'
# System language
lang ko_KR.UTF-8

# Network information
network --hostname=ablestack

# Firewall
firewall --enabled --port 9090:tcp
firewall-cmd --add-service=high-availability --permanent

# SElinux
selinux --permissive

# Root password
rootpw --iscrypted $6$ZEpVW/FV/Oz5ZdV/$u/N1V2sjvkxTRc196gNzSBXNJOSqfbqxAeXRXewTicxNyaoIipN87TJ2ZCsWq2I2JgxPL3JUMILwJ0HArcNkk.

# Run the Setup Agent on first boot
#firstboot --enable

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# System timezone
timezone Asia/Seoul --isUtc --ntpservers=2.centos.pool.ntp.org,2.centos.pool.ntp.org,2.centos.pool.ntp.org,2.centos.pool.ntp.org

# Disk 설정은 사용자가 직접 선택 및 구성할 수 있도록 함
# Disk partitioning information
#part /boot/efi --fstype="efi" --size=600 --fsoptions="umask=0077,shortname=winnt"
#part /boot --fstype="ext4" --size=1024
#part pv.611 --fstype="lvmpv" --size=100774
#volgroup cl_ablestack --pesize=4096 pv.611
#logvol swap --fstype="swap" --size=8080 --name=swap --vgname=cl_ablestack
#logvol / --fstype="xfs" --size=92684 --name=root --vgname=cl_ablestack
# part /boot/efi --fstype="efi" --ondisk=sda --size=600 --fsoptions="umask=0077,shortname=winnt"
# part /boot --fstype="ext4" --ondisk=sda --size=1024
# part pv.611 --fstype="lvmpv" --ondisk=sda --size=100774
# volgroup cl_ablestack --pesize=4096 pv.611
# logvol swap --fstype="swap" --size=8080 --name=swap --vgname=cl_ablestack
# logvol / --fstype="xfs" --size=92684 --name=root --vgname=cl_ablestack

%packages
@^server-product-environment
# kexec-tools

%end

%post

ablestack_ver=allo
src_dir=/opt/ablestack/tmp
dst_dir=/opt/ablestack

mkdir -p $dst_dir/{tmp,rpms,docker,scripts}
mkdir -p /etc/ceph

# IPMI 부팅, USB 부팅 등에 모두 적용될 수 있도록 함
for cdrom in $(lsblk | grep rom | cut -d " " -f 1)
do
  mkdir $src_dir/$cdrom
  mount /dev/$cdrom $src_dir/$cdrom
  /usr/bin/cp -r $src_dir/*/rpms/* $dst_dir/rpms/
  /usr/bin/cp -r $src_dir/*/docker/* $dst_dir/docker/
  /usr/bin/cp -r $src_dir/*/scripts/* $dst_dir/scripts/
  umount $src_dir/$cdrom
  rm -rf $src_dir/$cdrom
done

dnf localinstall -y $dst_dir/rpms/*.rpm --disablerepo=*

sed -i '2 i\ablestack_ver='$ablestack_ver'' /usr/bin/ablestack

systemctl enable --now cockpit.socket
systemctl enable --now pcsd

#ceph user 설정
sed -i 's/ceph:x:167:167:Ceph daemons:\/var\/lib\/ceph:\/sbin\/nologin/ceph:x:167:167:Ceph daemons:\/var\/lib\/ceph:\/bin\/bash/' /etc/passwd
echo Ablecloud1! | passwd ceph --stdin
cp /etc/skel/.bash* /var/lib/ceph/
chown ceph:ceph /var/lib/ceph/.bash*
echo "ceph ALL=NOPASSWD: ALL" > /etc/sudoers.d/ceph
chmod 644 /etc/sudoers.d/ceph
#pcs user password 설정
echo password | passwd hacluster --stdin

%end


%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
reboot
